<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.sab.eclipse.rcp.withview.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sab.eclipse.rcp.withview.Perspective"
            name="Perspective"
            id="com.sab.eclipse.rcp.withview.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sab.eclipse.rcp.withview.View"
            name="RCP Table Viewer"
            id="com.sab.eclipse.rcp.withview.view"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.sab.eclipse.rcp.withview.view"
               minimized="false"
               relationship="left"
               standalone="true"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.sab.eclipse.rcp.withview.view">
         <command
               commandId="org.eclipse.ui.file.exit"
               icon="icons/eclipse16.png"
               label="Exit"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sab.eclipse.rcp.withview.view">
         <command
               commandId="org.eclipse.ui.file.exit"
               label="Exit"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="twoSelectedCheck">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
<extension point="org.eclipse.core.expressions.definitions">
<definition id="twoSelectedCheck">
         <with variable="activeMenuSelection">
            <count value="2"></count>
         </with>
      </definition>
</extension>
</plugin>
